@import "tablet";

/********************Главная (desktop)****************************/
header,.content, footer{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*Главная страница*/
.index_page{
  max-width: 1200px;
}
.header-content-tel{
  padding-left: 9%;
}
.content_on_map{
  font-size: 1.5em;
  top: 37%;
  right: 25%;
  max-width: 322px;
}
.index-display{
  width: 80%;
  display: block;
  margin: -215px auto 0;
}
.index-display-img{
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.index_display-text{
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  margin: 6% 0 0 -6%;
}
footer{
  padding: 20px 0 40px;
}
.footer_copyright_link{
  display: inline-block;
}
.footer_contacts{
  position: relative;
  text-align: left;
  width: 119px;
  float: right;
  &:after{
    content: "";
    position: absolute;
    width: 35px;
    height: 29px;
    background: url(../img/footer_logo.png) 50% 50% no-repeat;
    top: 0;
    left: -40px;
  }
}
/********************Адресная программа (desktop)****************************/

.town_info{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.index-display{

  .index_display-text{
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    margin: 16% 0 0 -10%;
  }
}

/********************Регистрация (desktop)****************************/

.rb-reg_container{
  padding-top: 30px;
}

.reg_t_i-p{
  font-size: 1.1em;
  line-height: 1.2;
  color: #04f6fa;
  padding: 20px 0;
}
input.input_reg{
  margin: 10px 0;
  padding: 3px 2%;
}
.rb-reg_container_finish{
  top: 0;
}

/********************Личный кабинет (desktop)****************************/

.cab_head_tabs_block{
  display: inline-block;
  width: 40%;
}
h3.cabinet_header{
  width: 30%;
}

/********************Контакты (desktop)****************************/
.head-contact_block{
  padding-left: 12%;
  padding-top: 40px;
}
#c_b_bt-textarea{
  margin: 5px 0;
}
/********************О компании (desktop)****************************/
.about_box-h1{
  font-size: 1.6em;
  padding-left: 15%;
}
.about_box-p{
  padding-left: 15%;
}
.about_box-a{
  padding-left: 15%;
}















