.wrapper_vibor_top{
    display: none;
}
footer{
    display: none;
}
.tb_bot-table{
    display: table;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 15px;
}
.tb_bot-table-tr_head,
.tb_bot-table-body_tr{
    display: table-row;
    border-color: #dedede;
}
.tb_bot-table-tr_head{
    font-size: .75em;
    color: #8a8a8a;
}
.fist_column{
    width: 22.777777%;
}
.second_column{
    width: 22.222222%;

}
.third_column{
    width: 13.333333%;
}
.four_column{
    width: 13.333333%;
}
.fifth_column{
    width: 8.888888%;
}

.sixth_column{
    width: 12.222222%;
}
.seventh_column{
    width: 6.666666%;
}
.tb_bot-table-td_text{
    display: table-cell;
    padding: 25px 0;
    line-height: 1.3;
    font-size: 1em;
}