@import "mobile";

/********************Главная (smartphone)****************************/

.header-logo{
  width: 30%;
}
.header-nav-link{
  width: 60%;
}
/********************Регистрация (smartphone)****************************/

.rb-reg_container{
  width: 70%;
  margin: 0 auto;
  padding: 10px 6%;
}
.rb-reg_con_fin-h2{
  max-width: 530px;
  margin: 0 auto;
}
.rb-reg_con_fin-p{
  max-width: 530px;
  margin: 0 auto;
}


.mail_modal{

  left: 50%;
  margin-left: -200px;
}