@import "reset.css";
/*Сброс параметров*/
a {
  text-decoration: none;
}
/*Подключаем шрифты*/
@font-face {
  font-family: 'Conv_Myriad_Pro_Light';
  src: url('../font/Myriad_Pro_Light.eot');
  src: local('☺'), url('../font/Myriad_Pro_Light.woff') format('woff'), url('../font/Myriad_Pro_Light.ttf') format('truetype'), url('../font/Myriad_Pro_Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_bold';
  src: url('../font/Myriad_Pro_bold.eot');
  src: local('☺'), url('../font/Myriad_Pro_bold.woff') format('woff'), url('../font/Myriad_Pro_bold.ttf') format('truetype'), url('../font/Myriad_Pro_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_Regular';
  src: url('../font/Myriad_Pro_Regular.eot');
  src: local('☺'), url('../font/Myriad_Pro_Regular.woff') format('woff'), url('../font/Myriad_Pro_Regular.ttf') format('truetype'), url('../font/Myriad_Pro_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font_myriad_pro_light {
  font-family: 'Conv_Myriad_Pro_Light';
}
.font_myriad_pro_regular {
  font-family: 'Conv_Myriad_Pro_Regular';
}
.font_myriad_pro_bold {
  font-family: 'Conv_Myriad_Pro_bold';
}
/*Типовые элементы*/
body {
  font-family: 'Conv_Myriad_Pro_Regular';
}
.column {
  display: inline-block;
}
.wrapper {
  height: 100%;
  width: 100%;
  min-width: 360px;
}
.wrap_index_page {
  background: #0c365c;
}
/*Цвета*/
/*Общие элементы*/
.full_close_window {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
